# Cleaning LinkedIn Job Posts

This code is adapted from Cohort 2's work.

### Import Libraries

In [7]:
# Import Libraries
import pandas as pd
import numpy as np
import string
# import regex as re

#Hide Warnings
import warnings
warnings.filterwarnings('ignore')

In [27]:
# Load the data and verify it loaded correctly
df = pd.read_csv("../Data/LinkedIn_Job_Postings_notcleaned.csv")
df.head()

,Date,Company,Title,Job Link,criteria
0,2022-01-15,Intel Corporation,Platform Supply Analyst,https://www.linkedin.com/jobs/view/platform-su...,Seniority level\nMid-Senior level\nEmployment ...
1,2022-01-26,Intel Corporation,Platform Supply Analyst,https://www.linkedin.com/jobs/view/platform-su...,\n \n \n Seniority ...
2,2022-01-10,Kaiser Permanente,Supervisor Support Services,https://www.linkedin.com/jobs/view/supervisor-...,\n \n \n Seniority ...
3,2022-02-02,Dignity Health,Communications Specialist,https://www.linkedin.com/jobs/view/communicati...,\n \n \n Seniority ...
4,2022-01-26,Intel Corporation,Planning Analyst,https://www.linkedin.com/jobs/view/planning-an...,\n \n \n Seniority ...

## Data Cleaning

### Split Criteria

In [28]:
df.criteria[0]

'Seniority level\nMid-Senior level\nEmployment type\nFull-time\nJob function\nManagement and Manufacturing\nIndustries\nIT Services and IT Consulting, Appliances, Electrical, and Electronics Manufacturing, and Software Development'

In [29]:
seniority = []
employment_type = []
job_function = []
industry = []

sen_s = 'Seniority level\n'
emp_s = '\nEmployment type\n'
jf_s = '\nJob function\n'
ind_s = '\nIndustries\n'

criteria = df['criteria']

for s in criteria: 
    
    sen = s[s.find(sen_s)+len(sen_s):s.rfind(emp_s)]
    seniority.append(sen)

    emp = s[s.find(emp_s)+len(emp_s):s.rfind(jf_s)]
    employment_type.append(emp)
    
    jfunc = s[s.find(jf_s)+len(jf_s):s.rfind(ind_s)]
    job_function.append(jfunc)

    ind = s[s.find(ind_s)+len(ind_s):]
    industry.append(ind)

### Add Split Criteria to Dataframe

In [30]:
df['Seniority'] = seniority
df['Employment Type'] = employment_type
df['Job Function'] = job_function
df['Industry'] = industry

In [31]:
df.head()

,Date,Company,Title,Job Link,criteria,Seniority,Employment Type,Job Function,Industry
0,2022-01-15,Intel Corporation,Platform Supply Analyst,https://www.linkedin.com/jobs/view/platform-su...,Seniority level\nMid-Senior level\nEmployment ...,Mid-Senior level,Full-time,Management and Manufacturing,"IT Services and IT Consulting, Appliances, Ele..."
1,2022-01-26,Intel Corporation,Platform Supply Analyst,https://www.linkedin.com/jobs/view/platform-su...,\n \n \n Seniority ...,\n \n Mid-Senior...,\n Seniority level\n \...,\n Seniority level\n ...,\n Seniority level\n ...
2,2022-01-10,Kaiser Permanente,Supervisor Support Services,https://www.linkedin.com/jobs/view/supervisor-...,\n \n \n Seniority ...,\n \n Mid-Senior...,\n Seniority level\n \...,\n Seniority level\n ...,\n Seniority level\n ...
3,2022-02-02,Dignity Health,Communications Specialist,https://www.linkedin.com/jobs/view/communicati...,\n \n \n Seniority ...,\n \n Mid-Senior...,\n Seniority level\n \...,\n Seniority level\n ...,\n Seniority level\n ...
4,2022-01-26,Intel Corporation,Planning Analyst,https://www.linkedin.com/jobs/view/planning-an...,\n \n \n Seniority ...,\n \n Entry leve...,\n Seniority level\n \...,\n Seniority level\n ...,\n Seniority level\n ...

### Explore the New Columns and Perform Any Other Cleaning Tasks

#### Seniority

In [32]:
print(df['Seniority'].value_counts())

Entry level                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           92
Associate                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             68
Mid-Senior level                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      24
 \n          Employment type\n        \n        \n          Full-time\n        \n      \n                                                                                                                                                                                                                                                                                                                                                                                                                             16
          \n          \n            Entry level\n          \n        \n      \n        \n          Employment type\n        \n        \n          Full-time\n        \n      \n        \n          \n            Job function\n          \n          \n            Information Technology\n          \n        \n        \n          \n            Industries\n          \n          \n          IT Services and IT Consulting, Financial Services, and Hospitals and Health Care\n          \n        \n             10
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      ..
          \n          \n            Director\n          \n        \n      \n        \n          Employment type\n        \n        \n          Contract\n        \n      \n        \n          \n            Job function\n          \n          \n            Information Technology\n          \n        \n        \n          \n            Industries\n          \n          \n          Internet Publishing\n          \n        \n                                                                               1
          \n          \n            Associate\n          \n        \n      \n        \n          Employment type\n        \n        \n          Full-time\n        \n      \n        \n          \n            Job function\n          \n          \n            Information Technology\n          \n        \n        \n          \n            Industries\n          \n          \n          Higher Education, Non-profit Organizations, and Hospitals and Health Care\n          \n        \n                       1
          \n          \n            Entry level\n          \n        \n      \n        \n          Employment type\n        \n        \n          Contract\n        \n      \n        \n          \n            Job function\n          \n          \n            Consulting, Information Technology, and Sales\n          \n        \n        \n          \n            Industries\n          \n          \n          Financial Services\n          \n        \n                                                      1
          \n          \n            Entry level\n          \n        \n      \n        \n          Employment type\n        \n        \n          Full-time\n        \n      \n        \n          \n            Job function\n          \n          \n            Management and Manufacturing\n          \n        \n        \n          \n            Industries\n          \n          \n          Chemical Manufacturing, Biotechnology Research, and Pharmaceutical Manufacturing\n          \n        \n        1
          \n          \n            Associate\n          \n        \n      \n        \n          Employment type\n        \n        \n          Part-time\n        \n      \n        \n          \n            Job function\n          \n          \n            Project Management and Information Technology\n          \n        \n        \n          \n            Industries\n          \n          \n          Business Consulting and Services\n          \n        \n                                         1
Name: Seniority, Length: 643, dtype: int64

In [33]:
df['Seniority'] = [s.replace("\n","") for s in df.Seniority]
df['Seniority'] = [s.replace("  ", "") for s in df.Seniority]

In [34]:
print(df['Seniority'].value_counts())

Entry level                                                                                                                                                         92
Associate                                                                                                                                                           68
Mid-Senior level                                                                                                                                                    24
 Employment typeFull-time                                                                                                                                           16
Entry levelEmployment typeFull-timeJob functionInformation TechnologyIndustriesIT Services and IT Consulting, Financial Services, and Hospitals and Health Care     10
                                                                                                                                                                    ..
AssociateEmployment typeFull-timeJob functionMarketing and SalesIndustriesManufacturing                                                                              1
AssociateEmployment typeFull-timeJob functionResearch, Analyst, and Information TechnologyIndustriesDesign Services                                                  1
Entry levelEmployment typeFull-timeJob functionOtherIndustriesNon-profit Organizations, Wellness and Fitness Services, and Hospitals and Health Care                 1
AssociateEmployment typeFull-timeJob functionManagement and ManufacturingIndustriesMining                                                                            1
AssociateEmployment typeContractJob functionManagement and ManufacturingIndustriesReligious Institutions                                                             1
Name: Seniority, Length: 643, dtype: int64

In [ ]:
#Indicate missing values.
df['Seniority'] = df['Seniority'].str.replace('\nFull-tim', 'NaN')
df['Seniority'] = df['Seniority'].str.replace('\nTemporar', 'NaN')
df['Seniority'] = df['Seniority'].str.replace('\nOthe', 'NaN')
df['Seniority'] = df['Seniority'].str.replace('\nContrac', 'NaN')

#### Verify that Seniority is Clean

In [ ]:
print(df['Seniority'].value_counts())

In [ ]:
## Employment Type

In [ ]:
print(df['Employment Type'].value_counts())

In [ ]:
#Fix categories that are mispelled.
df['Employment Type'] = df['Employment Type'].str.replace('Full-tim', 'Full-time')
df['Employment Type'] = df['Employment Type'].str.replace('Full-timee', 'Full-time')

df['Employment Type'] = df['Employment Type'].str.replace('Temporar', 'Temporary')
df['Employment Type'] = df['Employment Type'].str.replace('Temporaryy', 'Temporary')

df['Employment Type'] = df['Employment Type'].str.replace('Contrac', 'Contract')
df['Employment Type'] = df['Employment Type'].str.replace('Contractt', 'Contract')

df['Employment Type'] = df['Employment Type'].str.replace('Othe', 'Other')
df['Employment Type'] = df['Employment Type'].str.replace('Otherr', 'Other')

In [ ]:
print(df['Employment Type'].value_counts())

### Job Function

In [ ]:
df['Job Function'].value_counts()

In [ ]:
#Make missing values consistent.
df['Job Function'] = df['Job Function'].str.replace('pe\nFull-tim', 'NaN')
df['Job Function'] = df['Job Function'].str.replace('pe\nContrac', 'NaN')
df['Job Function'] = df['Job Function'].str.replace('pe\nTemporar', 'NaN')
df['Job Function'] = df['Job Function'].str.replace('pe\nOthe', 'NaN')

In [ ]:
#Fix the broken values.
df.loc[340, 'Job Function'] = 'Health Care Provider'
df.loc[442, 'Job Function'] = 'Project Management and Information Technology'

In [ ]:
df['Job Function'].unique()

### Industry

In [ ]:
df['Industry'].value_counts()

In [ ]:
#Make missing values consistent.
df['Industry'] = df['Industry'].str.replace('type\nFull-time', 'NaN')
df['Industry'] = df['Industry'].str.replace('type\nContract', 'NaN')
df['Industry'] = df['Industry'].str.replace('type\nTemporary', 'NaN')
df['Industry'] = df['Industry'].str.replace('pe\nOthe', 'NaN')

In [ ]:
df['Industry'].unique()

## Getting Years Experience from Job Description

#### Years Experience from Numeric Value

In [ ]:
years_list = []

for s in df['Job Description']:
    
    for char in string.punctuation:
        s = s.replace(char,'')
    
    s = s.replace('\n', ' ')
    
    nums = [int(i) for i in s.split() if i.isdigit()]
    
    num_test = []
    
    for i in nums:
        if i < 11:
            num_test.append(i)
        else:
            pass
    
    if num_test:
        max_num = max(num_test)
    else:
        max_num = 'NaN'
    
    years_list.append(max_num)

In [ ]:
from collections import Counter
Counter(years_list)

In [ ]:
df['Years Experience'] = years_list

#### Years of Experience from Word

In [ ]:
alpha_years_list = []

alpha_num = ['one', 'two', 'three', 'four', 'five', 
             'six', 'seven', 'eight','nine']

for s in df['Job Description']:
    
    for char in string.punctuation:
        s = s.replace(char,'')
    
    s = s.replace('\n', ' ')
    s = s.lower()
    
    test_alpha_num = [anum in s for anum in alpha_num]
    
    true_alpha_num = [i for i, x in enumerate(test_alpha_num) if x]
    
    if true_alpha_num:
        max_num = max(true_alpha_num) + 1
    else:
        max_num = 'NaN'
    
    alpha_years_list.append(max_num)

In [ ]:
Counter(alpha_years_list)

In [ ]:
df['Years Experience Two'] = alpha_years_list

In [ ]:
df['Experience'] = np.where(df['Years Experience']=='NaN', df['Years Experience Two'], 
                           df['Years Experience'])

In [ ]:
df.head()

In [ ]:
df['Experience'].value_counts()

In [ ]:
df = df.drop(['Years Experience','Years Experience Two'], axis=1)
df.head()

In [ ]:
df.to_csv('../Data/linkedin_job_posts_clean_ish.csv')